{
	"overrides": [
		{
			"files": ["**/*.scss", "**/*.sass"],
			"customSyntax": "postcss-scss",
			"rules": {
				"at-rule-no-unknown": null,
				"scss/at-rule-no-unknown": true,
				"scss/dollar-variable-pattern": "^[_a-z0-9-]+$",
				"scss/selector-no-redundant-nesting-selector": true
			}
		}
	],
	"extends": ["stylelint-config-clean-order/error"],
	"plugins": ["stylelint-scss"],
	"rules": {
		"at-rule-no-unknown": null
	}
}
